.MuiBox-root {
  padding-left: 0px; /* Ejemplo de margen interior a la izquierda */
  padding-right: 0px; /* Ejemplo de margen interior a la derecha */
  box-sizing: content-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
